html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: round;
  font-family: "Amatic SC", cursive;
}

.btn-primary {
  color: white;
  background-color: darkgreen;
  border-color: darkseagreen;

}

.btn-danger {
  color: #fff;
  background-color: grey;
  border-color: darkgray;
}


.text-primary {
  font-family: "Amatic SC", cursive;
  font-weight: 600;
  font-variant-caps: petite-caps;
}

.display-4 {
  font-size: inherit;
  font-size: xx-large;
}

.lead {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: smaller;
}

.card {
  height: fit-content;
  background-color: darkgrey;
}

#destinations_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form label, h4, #title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.submit_btn {
  width: 100%;
}







